<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza<i class='bx bx-question-mark'></i></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir {{descricao}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary excluirbtn"><a href="/delete/produto/{{id}}"
                        class="excluirbtn">Excluir</a></button>
                <button type="button" class="btn btn-primary cancel" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>