<div class="container-md">
    <div class="caixa">
        <div class="title">
            <h1>Sobre a BR Finanças</h1>
        </div>
        <div class="sobre">
            <p>
                Com o ojetivo de auxilia-lo no controle financeiro, a BR Finanças é uma aplicação capaz de
                fazê-lo enxergar seus gastos mais facilmente, para que possa ver para onde vai seu dinheiro.
                Desenvolvido por Beatriz Neaime e Rebeca Rosa, alunas do 8º período de Engenharia de Computação no
                Instituto Federal do Sul de Minas, campus Poços de Caldas, para a disciplina de Programação Web II.
            </p>
        </div>
        <div class="imagem">
            <img src="/assets/img/ok_logo_eng_comp_fundo_claro_engcomp_if.png" alt="">
        </div>
    </div>
</div>

<style>
    .caixa {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 2rem;
        text-align: center;
        height: 80vh;
    }

    .imagem{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin: 2rem;
        width: 100%;
    }

    .imagem img{
        width: 100%;
    }

    .sobre {
        margin: 2rem;
        text-align: justify;
    }
</style>